.patient__list {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #e8e8e8;
}

.patient_list-heading * {
    font-weight: 600;
}

.patient__list-item {
    display: flex;
    justify-content: space-around;
}

.patient__list-item * {
    flex-basis: 25%;
}

.patient__creation-form {
    display: flex;
    flex-direction: column;
}

.form__field {
    display: flex;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.form__field * {
    flex-basis: 100%;
}

.form__field > label {
    border-bottom: dashed 1px #d4d3d3;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.notification__count {
    color:blue;
}

.notification {
    flex-basis: 50%;
    text-align: center;
    background-color: mintcream;
    border: solid 1px #0a8013;
    padding: 1em;
    margin-bottom: 2em;
}

.appointments {
    flex-basis: 45%;
    margin-left: 1em;
}

.patients {
    flex-basis: 100%;
}